<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devolucion</title>
    <!-- Custom styles for this template-->
    <link href="css/custom/sb-admin-2.css" rel="stylesheet" type="text/css">
    <style>
        @import 'https://fonts.googleapis.com/css?family=Indie+Flower';
    </style>
</head>

<body>

<div class="container-fluid custom-container">
    <!-- Page Heading -->
    <div class="row factura_header">
        <div class="col-8 d-flex align-items-end">
            <h1 class="nombreEmpresa">{{  empresa.nom |upper}}</h1>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <h1 class="tipusFactura">DEVOLUCION</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-7 factura_info factura_left_info ">
            <div class="row d-flex align-items-end h-50 ">
                <div class="col-12">
                    <h1 class="mb-0">{{ empresa.direccion |upper }}</h1>
                    <h1 class="mb-0">{{ empresa.cp }} {{ empresa.ciudad |upper }}</h1>
                    <h1 class="mb-0">Tel.: <span>{{ empresa.telefono }}</span> <span class="pl-3">{{ empresa.mobil }}</span></h1>
                    <h1 class="mb-0">CIF: {{ empresa.cif |upper }}</h1>
                </div>
            </div>
            <div class="row pr-1">
                <div class="col-12 position-absolute info_date">
                    <div class="col-12 bg-gray-500 pl-1">
                        <span>Nº Devolucion: </span> <span class="pl-2">{{ factura.facturaNumero }}</span>
                        <span class="pl-4">Fecha:</span> <span class="pl-2">{{ devolucion.fecha }}</span>
                    </div>
                    <div class="col-12 bg-gray-500 pl-1">
                        <span>Comercial:</span> <span class="pl-2">{{ comercial.NOMBRECOMERCIAL }}</span>
                        <span class="pl-4">Tel. : </span> <span class="pl-2">{{ comercial.TELEFONOCOMERCIAL }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 factura_info factura_right_info border-black">
            <h1 class="text-right mb-0">Cliente ID: {{ cliente.CODIGOCLIENTE }}</h1>
            <h1 class="text-right mb-0">{{ cliente.NOMBRECLIENTE |upper }}</h1>
            <h1 class="text-right mb-0">CIF: {{ cliente.CIFDNINIE |upper }}</h1>
            <h1 class="text-right mb-0">{{ cliente.DIRECCIONENVIO |upper }}</h1>
            <h1 class="text-right mb-0">{{  cliente.CPENVIO|upper }} {{ cliente.PROVINCIAENVIO|upper }} {{ cliente.CIUDADENVIO|upper }}</h1>
            <h1 class="text-right mb-0">Tel.: {{ cliente.TELEFONOCONTACTO }}</h1>
        </div>

    </div>

    <div class="row ">
        <div class="col-12 ">
            <div class="row ">
                <div class="col-12 mt-1 mb-1 pr-0">
                    <div class="col-md-12 table_title" style="padding: 0;">
                        <table class="w-100 table_producto">
                            <tr>
                                <td class="table_codigo_title">CODIGO</td>
                                <td class="table_descripcion">DESCRIPCION</td>
                                <td class="text-right">IVA%</td>
                                <td class="text-right">Unds.</td>
                                <td class="text-right">Precio</td>
                                <td class="text-right">D.%</td>
                                <td class="text-right">Subtotal</td>
                            </tr>


                            {% for producto in productos %}
                                <tr>
                                    <td class="font-weight-bold table_codigo">{{ producto.codi }}</td>
                                    <td>{{ producto.descripcion  |upper }}</td>
                                    <td class="text-right">{{ factura.iva }}</td>
                                    <td class="text-right">{{ producto.Unds }}</td>
                                    <td class="text-right">{{ producto.preu }}</td>
                                    <td class="text-right">{{ producto.descompte }}</td>
                                    <td class="text-right">{{ producto.subtotal }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Page Footer -->
    <div class="row factura_footer ml-0">
        <div class="col-12  pt-4 pb-4">
            <div class="resul_table text-center">
                <table class="w-100 ">
                    <tr>
                        <td ></td>
                        <td class="text-right" style="width: 20%;">Base Imponible</td>
                        <td class="text-right">IVA%</td>
                        <td class="text-right">Importe IVA</td>
                        <td class="text-right">REQ%</td>
                        <td class="text-right">Importe REQ</td>
                        <td class="text-right">Subtotal</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-right">{{ baseImponible }}</td>
                        <td class="text-right">{{ iva }}</td>
                        <td class="text-right">{{ importeIva }}</td>
                        <td class="text-right">{{ req }}</td>
                        <td class="text-right">{{ importeReq }}</td>
                        <td class="text-right">{{ subtotal }}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Subtotal</td>
                        <td class="text-right">{{ baseImponible }}</td>
                        <td></td>
                        <td class="text-right">{{ importeIva }}</td>
                        <td></td>
                        <td class="text-right">{{ importeReq }}</td>
                        <td></td>
                    </tr>

                </table>
            </div>
            <div class="row">
                <div class="col-12 total h1 d-flex justify-content-end ">
                    <span class="preu_total mr-5">Total: {{ subtotal }} €</span>
                </div>
            </div>


            <div class="row ">
                <div class="col-12">
                    <div class="print_data">
                        <sapn>Imprimir:</sapn> <span class="pl-2"> {{ fechaPrint }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


</body>

</html>