<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DireccionClient</title>
    <!-- Custom styles for this template-->
    <link href="css/custom/sb-admin-2.css" rel="stylesheet" type="text/css">
    <style>
        @import 'https://fonts.googleapis.com/css?family=Indie+Flower';
    </style>
</head>
<body>

{% for i in 1..page %}

<div class=" custom-container direccion ">
        <!-- Page Heading -->
        <div class="row m-0 p-0">
            <div class="col-12 ">
                <h1 class="mb-0 display-3">{{ cliente.NOMBRECLIENTE |upper }}</h1>
                <h1 class="mb-0 display-3">{{ cliente.DIRECCIONENVIO |upper }}</h1>
                <h1 class="mb-0 display-3">{{  cliente.CPENVIO|upper }} {{ cliente.PROVINCIAENVIO|upper }} {{ cliente.CIUDADENVIO|upper }}</h1>
                <h1 class="mb-0 display-3">Tel.: {{ cliente.TELEFONOCONTACTO }}</h1>
            </div>

        </div>

        <!-- Page Footer -->
        <div class="row factura_footer m-0 p-0 d-flex justify-content-end text-right">
            <div class="col-12 " >
                <h1 class="display-2" >BULTO {{ i }} DE {{ page }}</h1>
            </div>

        </div>

    </div>

{% endfor %}
</body>




</html>